.summaryContainer {
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 1rem;
}


.summaryWrapper {
  margin-top: 0px;
  border: 1px solid #B7B7B7;
  border-radius: 20px;

  h1 {
    margin-top: 0px;
    background-color: #F0F0F0;  
    padding: 1rem;
    border-radius: 20px 20px 0 0;
  }

}

.summaryTable {
  margin-left: 1rem;
  margin-right: 1rem;
  border: 1px solid #DDDDDD;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  border-radius: 10px;
  z-index: 99;
}


.summaryTableCard {
  width: 100%;
  display: flex;
  align-items: center;
  border-radius: 10px;

  span:first-child {
    width: 300px;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    font-weight: bold;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    border-bottom: 1px solid #DDDDDD;
  }

  span:nth-child(2) {
    padding-left: 1rem;
    font-weight: bold;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    border-bottom: 1px solid #DDDDDD;
    width: 100%;
  }
}

